<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blackjack Multiplayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleBlackjack.css}">
</head>
<body>
    <div class="top-bar">
        <div>Joueur : <strong th:text="${user.name}"></strong></div>
        <div> Code de la partie: <span th:text="${@roomCodeService.generateCode(room.idRoom)}">0</span></div>
        <div>Solde : <strong id="balanceDisplay" th:text="${user.balance}"></strong> €</div>
        <button class="btn-exit" onclick="exitRoom()">Quitter la table</button>
    </div>

    <div id="gameStatus" style="font-size: 1.2em; margin-bottom: 5px;">En attente...</div>
    <div id="timerDisplay" class="timer-display">--</div>

    <div class="table-container">
        <div class="dealer-area">
            <h3>Croupier <span id="dealerScore"></span></h3>
            <div id="dealerCards" class="cards-container"></div>
        </div>

        <div id="playersContainer" class="players-row"></div>
    </div>

    <div class="controls-area" id="controlsBar"></div>

    <script th:src="@{/scriptBlackjack.js}"></script>
    <script th:inline="javascript">
        const serverRoomCode = /*[[${@roomCodeService.generateCode(room.idRoom)}]]*/ null;
        initGame(serverRoomCode);
    </script>
</body>
</html>