<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CasYno Royale - Table Complète</title>
    <link rel="stylesheet" th:href="@{/css/styleRoulette.css}">
</head>
<body>
    <span th:text="${user.name}">[Placeholder]</span>
    <span id="mon-solde" th:text="${user.balance}">[Placeholder]</span>

<div class="main-container">
    <button id="exitButton">Quitter la table</button>
    <div class="history-section">
        <h3>Derniers Tirages</h3>
        <div id="history-container" class="history-grid"></div> 
    </div>

 
    <div class="wheel-section">
        <div id="rouletteWrapper">
            <img id="roulettePng" th:src="@{/img/Casino_Roulette.png}">
        </div>
        <div>Total misé : <span id="totalBet">0</span> €</div>
        <button id="spinButton">Bloquer les paris</button>
        <br><br>
        <button onclick="cancelBets()" style="background:none; border:1px solid #aaa; color:#aaa; cursor:pointer;">Effacer tout</button>
    </div>

    <div class="board-wrapper">
        <div class="betting-board" id="board">
            <div style="grid-column: 1 / span 2; border:none;"></div> 
            <div class="cell num-green span-0 drop-zone" data-type="STRAIGHT_UP" data-val="0">0</div>
            
            </div>

        <div class="chips-container">
            <div class="chip chip-5" draggable="true" data-amount="5">5</div>
            <div class="chip chip-10" draggable="true" data-amount="10">10</div>
            <div class="chip chip-25" draggable="true" data-amount="25">25</div>
            <div class="chip chip-100" draggable="true" data-amount="100">100</div>
        </div>
    </div>
</div>



</body>
    <script th:src="@{/scriptRoulette.js}"></script>
</html>